body {
  font-family: Arial, sans-serif;
  background-color: #ffff;
}

h1 {
  background-color: Blue;
  color: white;
  padding: 15px;
  text-align: center;
}
#search-button{
  background-color: red;
  color: white;
  border-radius: 2px;
  border: none;
}
#search-input{
  width: 500px;
}



